


#navsave a { margin-right: 2px; width: 54px;background-color: #e3846f;font-size: 15px ; color: white;text-align: center;overflow: hidden; }

#preview a { margin-right: 2px; width: 43px; background-color: #e3846f;font-size: 15px ; color: white;text-align: center; overflow: hidden; }